<h3>Branches</h3>

| <%= link_to 'Add new branch', new_bank_branch_path(@bank) %> |
  <%= link_to 'Back', banks_path%> |

<table>
  <thead>
      <tr>
        <th>Branch name</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <% @bank.branches.each do |branch| %>
          <tr>
            <td><%= link_to branch.name, [branch.bank, branch] %></td>
            <td><%= link_to 'Edit' %></td>
            <td><%= link_to 'Delete' %></td>
          </tr>
      <% end %>
  </tbody>
</table>
